@charset "utf-8";

body{
    margin: 0;
    background-color: rgb(21, 19, 26);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-variant: small-caps;
    color: white;
    background-image: linear-gradient(to right, transparent, black, transparent);
    margin: 0;
}

main{
    min-height: 92vh;
    text-align: center;
    background-color: white;
    width: 50vw;
    margin: auto;
    border-radius: 0 0 10px 10px;
}

#teclado{
    color: white;
    padding: 10px;
    background-color: black;
    border: 2px solid rgb(21, 19, 26);
}
label{
    padding: 3px;
    display: block;
}
input{
    font-variant: small-caps;
    margin: 0 1px 5px 10px;
}
#prop{
    text-shadow: 0px 0px 10px black;
    color: black;
}
.ops{
    font-variant: normal;
    text-align: center;
    width: 3vw;
    margin: 5px;
    border: 1px solid grey;
}
#opmarcada{
    border-width: 3px;
    border-color: rgb(255, 255, 0);
}
input[type="text"]{
    font-variant: normal;
}
.ops:hover{
    background-color: white;
}
.apagar{
    margin: 5px;
    background-color: rgb(255, 41, 3);
    border: 1px solid black;
}

#inseridos{
    color: white;
    font-weight: bolder;
    display: contents;
    margin: auto;
}
#inseridos > div{
    display: inline-block;
    width: 20vw;
    background-color: black;
}
.btsimb, .btprop{
    display: inline;
    padding: 3px;
    border: 1px solid white;
    margin-right: 20px;
}

table{
    width: 30vw ;
    margin: 10px auto 0 auto;
    border-collapse: collapse;
}
th, td{
    font-weight: bolder;
    text-align: center;
    border: 1px solid black;
}
td{
    font-variant: small-caps;
}
.verdadeiro{
    background-color: green;
}
.falso{
    background-color: red;
}
.verdadeiroprop{
    background-color: rgb(0, 107, 0);
}
.falsoprop{
    background-color: rgb(207, 0, 0);
}
footer{
    color: white;
    text-align: center;
}

footer > p{
    display: inline-block;
    padding: 0 10px;
}
footer > p > img{
    position: relative;
    top: 3px;
}
footer > p > a{
    color: inherit;
}
footer > p > a:hover{
    color: rgb(0, 89, 255);
}

article{
    text-align: left;
}
article > h1{
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
}
article > p{
    margin: 0;
    padding: 10px;
}
#link{
    text-align: center;
}